---
layout: default
---
<section id="home">
  <div class="posts col-md-6 col-md-offset-3">
    <h1> Posts archive: {{ page.period["month"] }} - {{page.period["year"]}} </h1><br>
    <br />
    {% for post in page.period_posts %}
    <article class="row blog-post-index infinite-item">
      <div class="blog-sep">{{ post.date | date_to_string }}</div>
      <h2 class="blog-heading"><a href="{{%site.url}}{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
    </article>
    <hr class="blog-sep infinite-item"/>
  {% endfor %}
  </div>
</section>
